*{
    padding: 0;
    margin :0;
}
.navbar{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    position: relative;
    /* overflow:visible; 
     position: fixed;
     top: 0; Position the navbar at the top of the page
    width: 100%;   */
}
h1{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-style:oblique;
}
h2{
    color:crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.horizontal_line{
    width: 60px;
    border: 2px solid brown;
    position: absolute;
    margin-left: 630px;
    border-radius: 10px;
    margin-top: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}
.button {
    height: 20px;
    width: 85px;
    border: 1px solid yellow;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    color:blueviolet;
    font-size: 17px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
}
.cart{
    height: 150px;
    width: 600px;
    /* border: 1px solid black; */
    margin: 30px;
    display: inline-flex;
    
   }
.image{
    width: 250px;
    height: 150px;
    border-radius: 20px;
   }
.image1{
    border-radius: 20px;
}

.align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-left:10px;
    margin-bottom: 20px;
}
.col{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin: 40px;
    margin-left: 80px;
    height: 400px;
    width:  1200px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.align1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-left:10px;
    margin-bottom: 80px;

}